@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

/* Gradient animation */
@keyframes gradient {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.animate-gradient-slow {
  animation: gradient 15s linear infinite;
  background-size: 200% 200%;
}

/* Optional hover effect */
.hover-glow:hover {
  box-shadow: 0 0 30px rgba(59, 130, 246, 0.1);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
